<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h3>About the club</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni, voluptate amet laudantium temporibus saepe nulla culpa vitae aliquid dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni, voluptate amet laudantium temporibus saepe nulla culpa vitae aliquid!</p>
    <ol>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
        <li>dipisicing elit. Iure tenetur, nobis doloribus voluptatibus possimus esse explicabo omnis qui impedit repudiandae magni,</li>
    </ol>
    <img class="img-thumbnail" height="110px" width="100%" src=" https://image.shutterstock.com/image-illustration/3d-render-laser-show-night-260nw-795759493.jpg "  >
         </div>
      </div>
      <div class="col-md-12">
         <h3>Entry</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil est iure libero laborum, ipsam ea dolor nostrum dolorum adipisci corporis tempora repellat esse quia laudantium rem perspiciatis iusto odio minima!</p>
         <a href="https://www.zomato.com/ncr/soho-delhi-the-ashok-chanakyapuri-new-delhi"></a>
            
    </div>
</div>